<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jinhe.juhe.livejuhe.mapper.PaopaoRoomDao">
    <resultMap id="BaseResultMap" type="com.jinhe.juhe.livejuhe.model.PaopaoRoom">
        <id column="id" jdbcType="VARCHAR" property="id"/>

        <result column="roomid"   jdbcType="VARCHAR" property="roomid"/>
        <result column="liveid"   jdbcType="VARCHAR" property="liveid"/>
        <result column="watchnum" jdbcType="VARCHAR" property="watchnum"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="state"    jdbcType="tinyint" property="state"/>
        <result column="updatedat" jdbcType="VARCHAR" property="updatedat"/>
        <result column="playurl"  jdbcType="VARCHAR" property="playurl"/>
        <result column="avatar"   jdbcType="VARCHAR" property="avatar"/>

    </resultMap>


    
</mapper>